## Install a pip package in the current Jupyter kernel

In [1]:
import sys
!{sys.executable} -m pip install pokebase

The directory '/home/jovyan/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
The directory '/home/jovyan/.cache/pip' or its parent directory is not owned by the current user and caching wheels has been disabled. check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
Collecting pokebase
  Downloading https://files.pythonhosted.org/packages/53/46/5f3bd6926dfbf7c8db7eab81af01267d6fec4aee3e88c889d61ada7eabb7/pokebase-1.2.0.tar.gz
Requirement already satisfied: requests in /opt/conda/lib/python3.6/site-packages (from pokebase) (2.12.4)
Installing collected packages: pokebase
  Running setup.py install for pokebase ... error
    Complete output from command /opt/conda/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-install-dhccjgmn/pokebase/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /tmp/pip-record-d7qx53mb/install-record.txt --single-version-externally-managed --compile:
    running install
    running build
    running build_py
    creating build
    creating build/lib
    creating build/lib/pokebase
    copying pokebase/loaders.py -> build/lib/pokebase
    copying pokebase/api.py -> build/lib/pokebase
    copying pokebase/__init__.py -> build/lib/pokebase
    running install_lib
    creating /opt/conda/lib/python3.6/site-packages/pokebase
    error: could not create '/opt/conda/lib/python3.6/site-packages/pokebase': Permission denied

    ----------------------------------------
Command "/opt/conda/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-install-dhccjgmn/pokebase/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /tmp/pip-record-d7qx53mb/install-record.txt --single-version-externally-managed --compile" failed with error code 1 in /tmp/pip-install-dhccjgmn/pokebase/

## Import PokeAPI wrapper library for  Python 3

In [2]:
import pokebase as pb

ModuleNotFoundError: No module named 'pokebase'

## Quick lookup

In [ ]:
rayquaza = pb.pokemon('rayquaza')
print(rayquaza.height)
print(rayquaza.weight)

In [ ]:
rayquaza.types

In [3]:
rayquaza.stats

NameError: name 'rayquaza' is not defined

## Fetch txt file from Smogon

In [ ]:
from urllib.request import urlopen
import json

data = urlopen("https://www.smogon.com/stats/2019-03/gen7ubers-0.txt")
usage = []
for line in data:
  decoded = line.decode('utf-8')
  decoded = decoded.replace(" ", "")
  if decoded.startswith('|'):
    usage.append(decoded.split('|')[1:-1])

In [ ]:
usage

## Use pandas to visualize Smogon competitive usage data

In [6]:
import pandas as pd

In [ ]:
smogon_df = pd.DataFrame(usage[1:], columns=usage[0])
smogon_df

# usage - weighted based on matchmaking rating
# raw - unweighted usage (on team)
# real - actually used in battle

In [ ]:
statsDic = {}
for pokemon in smogon_df['Pokemon']:
  pokemon_stats = []
  pokemon_info = pb.pokemon(pokemon.lower())
  for i in (pokemon_info.stats):
    pokemon_stats.append(str(i)[14:17])
  statsDic[pokemon] = pokemon_stats

## Obtain list of legendary and mystical pokemon from Bulbapedia

In [ ]:
import requests
from bs4 import BeautifulSoup

# scrape list of legendary and mystical pokemon from bulbapedia
page = requests.get("https://bulbapedia.bulbagarden.net/wiki/Legendary_Pok%C3%A9mon")
soup = BeautifulSoup(page.content, 'html.parser')

# list of <a> tags of legendary pokemon
a_list = soup.select('td a[title*=(Pok√©mon)]')

# extract text from <a> tags
legend_list = [lp.get_text() for lp in a_list]

# data cleaning: replace whitespace with hyphen, remove colon
legend_list = [p.lower().replace(' ', '-').replace(':', '') for p in legend_list]
legend_list

## Get itemized list for pokemon stats

In [9]:
pd.read_csv('statsDF.csv')

,Unnamed: 0,ID,Pokemon,Legendary,Stat Total,ATK Sum,DEF Sum,Height,Weight
0,0,1,bulbasaur,False,318,160,161,7,69
1,1,2,ivysaur,False,405,203,205,10,130
2,2,3,venusaur,False,525,263,265,20,1000
3,3,4,charmander,False,309,178,134,6,85
4,4,5,charmeleon,False,405,225,183,11,190
5,5,6,charizard,False,534,294,243,17,905
6,6,7,squirtle,False,314,142,175,5,90
7,7,8,wartortle,False,405,187,221,10,225
8,8,9,blastoise,False,530,247,286,16,855
9,9,10,caterpie,False,195,96,102,3,29
10,10,11,metapod,False,205,76,132,7,99
11,11,12,butterfree,False,395,206,192,11,320
12,12,13,weedle,False,195,106,92,3,32
13,13,14,kakuna,False,205,86,122,6,100
14,14,15,beedrill,False,395,211,187,10,295
15,15,16,pidgey,False,251,137,117,3,18
16,16,17,pidgeotto,False,349,182,170,11,300
17,17,18,pidgeot,False,479,252,230,15,395
18,18,19,rattata,False,253,154,102,3,35
19,19,20,raticate,False,413,229,187,7,185
20,20,21,spearow,False,262,162,103,3,20
21,21,22,fearow,False,442,252,193,12,380
22,22,23,ekans,False,288,156,135,20,69
23,23,24,arbok,False,448,241,210,35,650
24,24,25,pikachu,False,320,196,127,4,60
25,25,26,raichu,False,485,291,197,8,300
26,26,27,sandshrew,False,300,136,167,6,120
27,27,28,sandslash,False,450,211,242,10,295
28,28,29,nidoran-f,False,275,129,149,4,70
29,29,30,nidorina,False,365,174,194,8,200
...,...,...,...,...,...,...,...,...,...
776,776,777,togedemaru,False,435,235,203,3,33
777,777,778,mimikyu-disguised,False,476,237,242,2,7
778,778,779,bruxish,False,475,268,210,9,190
779,779,780,drampa,False,485,232,256,30,1850
780,780,781,dhelmise,False,517,258,262,39,2100
781,781,782,jangmo-o,False,300,146,157,6,297
782,782,783,hakamo-o,False,420,206,217,12,470
783,783,784,kommo-o,False,600,296,307,16,782
784,784,785,tapu-koko,True,570,341,232,18,205
785,785,786,tapu-lele,True,570,311,262,12,186
786,786,787,tapu-bulu,True,570,291,282,19,455
787,787,788,tapu-fini,True,570,256,317,13,212
788,788,789,cosmog,True,200,96,107,2,1
789,789,790,cosmoem,True,400,96,307,1,9999
790,790,791,solgaleo,True,680,348,335,34,2300
791,791,792,lunala,True,680,348,335,40,1200
792,792,793,nihilego,False,570,284,289,12,555
793,793,794,buzzwole,False,570,272,301,24,3336
794,794,795,pheromosa,False,570,426,147,18,250
795,795,796,xurkitree,False,570,346,227,38,1000
796,796,797,celesteela,False,570,270,303,92,9999
797,797,798,kartana,False,570,350,223,3,1
798,798,799,guzzlord,False,570,242,331,55,8880
799,799,800,necrozma,True,600,314,289,24,2300
800,800,801,magearna,True,600,291,312,10,805
801,801,802,marshadow,True,600,341,262,7,222
802,802,803,poipole,False,420,220,203,6,18
803,803,804,naganadel,False,540,322,221,36,1500
804,804,805,stakataka,False,570,198,375,55,8200
805,805,806,blacephalon,False,570,386,187,18,130

In [5]:
# Only run if you need the DF in the code itself, the cell above should retrieve the file
# import re
# pokemonList = []
# pokemonList.append(['ID', 'Pokemon', 'Legendary', 'Stat Total', 'ATK Sum', 'DEF Sum', 'Height', 'Weight'])

# for pokemonID in range(1,812):
#   pokemon_stats = []
#   pokemon_info = pb.pokemon(pokemonID)
  
#   pokemon_stats.append(pokemonID) # Add ID
#   pokemon_stats.append(pokemon_info.name) # Add Name
#   pokemon_stats.append(pokemon_info.name in legend_list) # Add Legendary or Not
#   pokemon_stats.extend([0,1,2]) # Add categories for stat totals
#   pokemon_stats.append(pokemon_info.height) # Add Height
#   pokemon_stats.append(pokemon_info.weight) # Add Weight

#   print(pokemonID)
#   j = 0 # Counter because I didnt want to change my code anymore
#   for i in (pokemon_info.stats):
#     stringStats = str(i)
#     value = [int(s) for s in re.findall(r'\b\d+\b', stringStats)[:1]]
#     pokemon_stats[3] += value[0]
#     pokemon_stats[4+(j%2)] += value[0]
#     j += 1
    
#   pokemonList.append(pokemon_stats)

# statsDF = pd.DataFrame(pokemonList[1:], columns=pokemonList[0])
# statsDF.to_csv ('./statsDF.csv', index = None, header=True)

# statsDF

SyntaxError: invalid syntax (<ipython-input-5-fc80074c1e80>, line 28)

## After scraping and cleaning, test for validity by searching for each name in the API

In [ ]:
for p in legend_list:
  try:
    pb.pokemon(p)
  except ValueError:
    print("Cannot find", p)

## The above Pokemon have alternate forms and we must handle each manually

P.S. Meltan and Melmetal haven't been added to the database at the moment. https://github.com/PokeAPI/pokeapi/issues/414

In [ ]:
# deoxys: deoxys-normal, deoxys-attack, deoxys-defense, deoxys-speed
try:
  legend_list.remove('deoxys')
  legend_list.extend(['deoxys-normal', 'deoxys-attack', 'deoxys-defense', 'deoxys-speed'])
except ValueError:
  print('Error')

# giratina: giratina-altered, giratina-origin
try:
  legend_list.remove('giratina')
  legend_list.extend(['giratina-altered', 'giratina-origin'])
except ValueError:
  print('Error')

# shaymin: shaymin-land, shaymin-sky
try:
  legend_list.remove('shaymin')
  legend_list.extend(['shaymin-land', 'shaymin-sky'])
except ValueError:
  print('Error')

# tornadus: tornadus-incarnate, tornadus-therian
try:
  legend_list.remove('tornadus')
  legend_list.extend(['tornadus-incarnate', 'tornadus-therian'])
except ValueError:
  print('Error')

# thundurus: thundurus-incarnate, thundurus-therian
try:
  legend_list.remove('thundurus')
  legend_list.extend(['thundurus-incarnate', 'thundurus-therian'])
except ValueError:
  print('Error')

# landorus: landorus-incarnate, landorus-therian
try:
  legend_list.remove('landorus')
  legend_list.extend(['landorus-incarnate', 'landorus-therian'])
except ValueError:
  print('Error')

# keldeo: keldeo-ordinary, keldeo-resolute
try:
  legend_list.remove('keldeo')
  legend_list.extend(['keldeo-ordinary', 'keldeo-resolute'])
except ValueError:
  print('Error')

# meloetta: meloetta-aria, meloetta-pirouette
try:
  legend_list.remove('meloetta')
  legend_list.extend(['meloetta-aria', 'meloetta-pirouette'])
except ValueError:
  print('Error')

# meltan: remove for now
try:
  legend_list.remove('meltan')
except ValueError:
  print('Error')

# melmetal: remove for now
try:
  legend_list.remove('melmetal')
except ValueError:
  print('Error')

## Test again for validity

In [ ]:
for p in legend_list:
  try:
    pb.pokemon(p)
  except ValueError:
    print("Cannot find", p)

## Obtain list of types

In [ ]:
# scrape list of legendary and mystical pokemon from bulbapedia
page = requests.get("https://bulbapedia.bulbagarden.net/wiki/Type")
soup = BeautifulSoup(page.content, 'html.parser')

# list of <a> tags of types
a_list = soup.select('td a[title*=(type)]')

# extract text from <a> tags
type_list = [lp.get_text() for lp in a_list]

# ignore ??? type
type_list = type_list[:-1]
type_list

In [ ]:
pstat = []
for a in legend_list:
  pstat.append()
  
  
  
  
rayquaza = pb.pokemon('rayquaza')
print(rayquaza.height)
print(rayquaza.weight)